{% extends "base.html" %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/base_app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/viewuse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/datum.css' %}">
{% endblock %}

{% block logo_source %}
    {% static 'images/Tracuse-LogoNameInv-Small-325x85.png' %}
{% endblock %}

{% block nav_block %}
    <button id="render-page" class="nav-button">Render Page</button>
{% endblock %}

{% block body_block %}
    {% csrf_token %}
    <div id="app"></div>
{% endblock %}

{% block script_block %}
    <script src="{% static 'libraries/underscore-min.js' %}"></script>
    <script src="{% static 'libraries/backbone-min.js' %}"></script>
    <script src="{% static 'libraries/backbone-relational.js' %}"></script>
    <script src="{% static 'libraries/nunjucks-slim.min.js' %}"></script>

    <script src="{% static 'app/controller/routes.js' %}"></script>
    <script src="{% static 'app/controller/utils.js' %}"></script>
    <script src="{% static 'app/controller/filter.js' %}"></script>

    <script src="{% static 'app/models/utils.js' %}"></script>
    <script src="{% static 'app/models/element.js' %}"></script>
    <script src="{% static 'app/models/datum.js' %}"></script>
    <script src="{% static 'app/models/viewuse.js' %}"></script>
    <script>Tracuse.models.bootstrapData({{ bootstrap_data|safe }})</script>

    <script src="{% static 'app/views/viewuse_base.js' %}"></script>
    <script src="{% static 'app/views/viewuse_options.js' %}"></script>
{#    <script src="{% static 'scripts/viewuse/events.js' %}"></script>#}

    <script src="{% static 'templates/compiled_templates.js' %}"></script>
    <script src="{% static 'templates/template_init.js' %}"></script>

    <script src="{% static 'app/init.js' %}"></script>

{% endblock %}