{% extends "base.html" %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/base_app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/viewuse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app/datum.css' %}">
{% endblock %}

{% block logo_source %}
    {% static 'images/Tracuse-LogoNameInv-Small-325x85.png' %}
{% endblock %}

{% block nav_block %}
    <button id="render-page" class="nav-button">Render Page</button>
{% endblock %}

{% block body_block %}
    {% csrf_token %}
    <div id="app"></div>
{% endblock %}

{% block script_block %}
    <script src="{% static 'libraries/backbone/underscore-min.js' %}"></script>
    <script src="{% static 'libraries/backbone/backbone-min.js' %}"></script>
    <script src="{% static 'libraries/backbone/backbone-relational.js' %}"></script>
    <script src="{% static 'libraries/nunjucks/nunjucks-slim.min.js' %}"></script>

    <script src="{% static 'app/main.js' %}"></script>
    <script src="{% static 'app/controller.js' %}"></script>
    <script src="{% static 'app/models.js' %}"></script>
    <script>Tracuse.models.bootstrapData({{ bootstrap_data|safe }})</script>
    <script src="{% static 'app/views.js' %}"></script>
    <script src="{% static 'app/templates.js' %}"></script>
    <script src="{% static 'app/init.js' %}"></script>

{% endblock %}