{% extends "base.html" %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/base_app.css' %}">
{% endblock %}

{% block logo_source %}
    {% static 'images/Tracuse-LogoName-Small-325x85.png' %}
{% endblock %}

{% block nav_block %}
    <button id="render-page">Render Page</button>
{% endblock %}

{% block body_block %}
    {% csrf_token %}
    <section id="app"></section>
{#    {% include "app/templates.html" %}#}
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/libraries/webcomponentsjs/webcomponents.js' %}"></script>
    <script src="{% static 'js/libraries/nunjucks.js' %}"></script>
    <script src="{% static 'js/app/controller/api.js' %}"></script>
    <script src="{% static 'js/app/models/model_const.js' %}"></script>
    <script src="{% static 'js/app/models/model_init.js' %}"></script>
    <script src="{% static 'js/app/views/custom_el.js' %}"></script>
    <script src="{% static 'js/app/views/template_init.js' %}"></script>
    <script src="{% static 'js/app/views/templates.js' %}"></script>
    <script src="{% static 'js/app/views/views.js' %}"></script>
    <script src="{% static 'js/app/utils.js' %}"></script>
    <script src="{% static 'js/app/init.js' %}"></script>
{% endblock %}