<template id="datum_small" class="template_datum">
    <x-datum-element class="headline">{{ headline }}</x-datum-element>
    <p class="datum_type_name">{{ datum_type_name }}</p>
</template>

{#<template id="datum_small" class="template_datum">#}
{#    <p class="headline">{{ headline }}</p>#}
{#    <p class="datum_type_name">{{ datum_type_name }}</p>#}
{#</template>#}


<div id="datum_medium" class="template_datum">
    {% for datum in datums %}
        <x-datum>
            {% for pk, element in datum.elements %}
                <x-datum-element class="element" value="{{ element.element_value }}"></x-datum-element>
                <br>
            {% endfor %}
        </x-datum>
    {% endfor %}
</div>