.viewuse-menu {
    position: fixed;
    top: 4rem;
    left: 0;
    height: 100%;
    padding-top: 3em;
    box-shadow: 0 2px 1px #808080;
}

.viewuse-menu button[name='menu-hide'] {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}