.viewuse-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 3em;
    background-color: #6E8BD9;
}

.viewuse-menu button {
    display: block;
    width: 9em;
    margin: 0.25em;
    padding: 0.25em;
    text-align: left;
    font-size: 150%;
    color: #fafafa;
}

.viewuse-menu button:hover {
    color: #6E8BD9;
}

.viewuse-menu button[name='menu-hide'] {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}