
.panel {
    display: none;
}

.panel-embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #6E8BD9;
}

.panel-embed button {
    display: block;
    width: 9em;
    margin: 0.25em;
    padding: 0.25em;
    text-align: left;
    font-size: 150%;
    color: #fafafa;
}

.panel-embed button:hover {
    color: #6E8BD9;
}

.panel-popout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #a9d963;
    border-radius: 0.5em;
    background-color: #ddf0bf;
    box-shadow: 2px 2px 1px #ddd;
}