.viewuse .tile {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.viewuse .tile > * {
    flex: 0 1 auto;
}