.viewuse .tile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.viewuse .tile > * {
    flex: 0 1 auto;
}

.viewuse .tile .datum {
    margin: 0.5em;
}