.datum-filter {
    max-width: 75em;
    border: 1px solid #6E8BD9;
    background-color: #d0d7e8;
}

.datum-filter > .section {
    height: 22em;
}

.datum-filter form {
    display: none;
}

.datum-filter .selections {
    width: 12em;
}

.datum-filter .selections button {
    color: #9ccd65;
    background-color: #edf8de;
}

.datum-filter .selections button:hover {
    background-color: #fafafa;
}

.datum-filter .types {
    width: 22em;
}

.datum-filter .content .groups-types-container {
    position: relative;
    height: 3em;
    margin: 0;
    border-top: 1px dashed #FAFAFA;
    padding: 0;
}

.datum-filter .content .groups-types-container:first-child {
    border-top: none;
}

.datum-filter .content .groups-types-container .types-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    margin: 0;
    padding: 0;

}

.datum-filter .groups button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    font-size: 100%;
}

.datum-filter .types button {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 85%;
}

.datum-filter .input-wrap {
    display: block;
    margin-bottom: 0;
}

.datum-filter .input-label {
    display: block;
}

.datum-filter .associations .input-element[name='association_datums'] {
    width: 10em;
}

.datum-filter .elements .input-element[name='element_operators'] {
    width: 10em;
}

.datum-filter .add-filter i {
    font-size: 150%;
}