.datum-filter {
    width: 85em;
}

.datum-filter > .section {
    height: 22em;
}

.datum-filter form {
    display: none;
}

.datum-filter .selections {
    width: 12em;
    text-align: left;
}

.datum-filter .actions {
    width: 11em;
}

.datum-filter .actions button {
    font-size: 115%;
}

.datum-filter .actions button i {
    float: left;
    height: 2em;
    padding-top: 0.25em;
    padding-right: 0.25em;
    font-size: 125%;
}

.datum-filter .actions button span {
    display: block;
    height: 2em;
}

.datum-filter .types {
    width: 22em;
}

.datum-filter .groups-types-container {
    position: relative;
    height: 3.5em;
    margin: 0;
    border-top: 1px dashed #FAFAFA;
    padding: 0;
}

.datum-filter .groups-types-container:first-child {
    border-top: none;
}

.datum-filter .groups-types-container .types-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    margin: 0;
    padding: 0;

}

.datum-filter .groups button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    font-size: 100%;
}

.datum-filter .types button {
    margin: 0.15em;
    padding: 0.15em;
    font-size: 85%;
}

.datum-filter .input-wrap {
    display: inline-block;
    margin-bottom: 0;
    font-size: 85%;
}

.datum-filter .input-label {
    display: block;
}

.datum-filter .associations .input-element[name='datum_object_id'] {
    width: 12em;
}

.datum-filter .elements .input-element[name='element_operator_id'] {
    width: 10em;
}

.datum-filter .add-filter i {
    font-size: 150%;
}

.datum-filter .selected-rule {
    font-size: 75%;
}