{% extends "common/edit.html" %}

{% block content %}

    <section class="section selections help-trigger">
        <p class="title">Select View</p>

        <article class="content">
            <select class="input-input select-viewuse" name="viewuse_object_id" size="{{ viewuse_objects|length + 1 }}">
                {% for viewuse_object in viewuse_objects %}
                    <option value="{{ viewuse_object.viewuse_object_id }}"
                            {{ " selected" if this_object.viewuse_object_id == viewuse_object.viewuse_object_id }}>
                        {{ viewuse_object.title }}
                    </option>
                {% endfor %}
            </select>
        </article>
        <p class="help-content">
            This is the help section for selecting a view.
        </p>
    </section>

    <section class="section viewuse-options">
        <p class="title">Options</p>

        <article class="content">
            <form id="viewuse-form"></form>
            <label class="input-wrap">
                <span class="input-label">Title</span>
                <input class="input-input" name="title" data-type="text" form="viewuse-form"
                       value="{{ this_object.title|default('Empty View') }}">
            </label>
            <label class="input-wrap"><span class="input-label">Arrangement</span>
                <select class="input-input" name="viewuse_arrangement_id" data-type="integer" form="viewuse-form">
                    <option></option>
                    {% for viewuse_arrangement in viewuse_arrangements %}
                        <option value="{{ viewuse_arrangement.viewuse_arrangement_id }}"
                                {{ " selected" if this_object.viewuse_arrangement.viewuse_arrangement_id == viewuse_arrangement.viewuse_arrangement_id }}>
                            {{ viewuse_arrangement.readable_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </article>

    </section>

    <section class="section viewuse-filter">
        <p class="title">Object Filter</p>

    </section>

{% endblock %}

{% block menu %}
    <button class="menu-button" name="new-viewuse"><i class="fa fa-plus-circle fa-fw"></i><span>New View</span></button>
    <button class="menu-button" name="copy-viewuse"><i class="fa fa-copy fa-fw"></i><span>Copy View</span></button>
    <button class="menu-button" name="delete-viewuse"><i class="fa fa-ban fa-fw"></i><span>Delete View</span></button>
    <button class="menu-button" name="undo-changes"><i class="fa fa-undo fa-fw"></i><span>Undo Changes</span></button>
    <button class="menu-button" name="save-viewuse"><i class="fa fa-save fa-fw"></i><span>Save View</span></button>
    <button class="menu-button" name="close-apply"><i class="fa fa-remove fa-fw"></i><span>Close &amp; Apply</span></button>
{% endblock %}