<fieldset class="section select-viewuse">
    <p class="title">Select View</p>

    <div class="content">
        <select size="{{ viewuse_objects|length + 1 }}">
            {% for viewuse_object in viewuse_objects %}
                <option value="{{ viewuse_object.viewuse_object_id }}"
                        {{ " selected" if this_viewuse.viewuse_object_id == viewuse_object.viewuse_object_id }}>
                    {{ viewuse_object.readable_name }}
                </option>
            {% endfor %}
        </select>
    </div>
</fieldset>

<fieldset class="section viewuse-actions">
    <p class="title">Actions</p>

    <div class="content">
        <button name="new-viewuse"><i class="fa fa-plus-circle fa-fw"></i><span>New View</span></button>
        <button name="copy-viewuse"><i class="fa fa-copy fa-fw"></i><span>Copy View</span></button>
        <button name="delete-viewuse"><i class="fa fa-ban fa-fw"></i><span>Delete View</span></button>
        <button name="save-apply-viewuse"><i class="fa fa-save fa-fw"></i><span>Save &amp; Apply</span></button>
        <button name="cancel-apply-viewuse"><i class="fa fa-remove fa-fw"></i><span>Cancel &amp; Close</span></button>
    </div>
</fieldset>

<fieldset class="section viewuse-options">

</fieldset>

<fieldset class="section viewuse-filter">

</fieldset>