<div class="section filter-groups-types">
    <h4 class="title">Filter by Groups/Types</h4>

    <div class="content">
        {% for datum_group in datum_groups %}
            <fieldset class="input-group">
                <button class="filter-input" name="datum_group" value="{{ datum_group.datum_group_id }}">
                    {{ datum_group.readable_name }}
                </button>

                {% for datum_type in datum_group.datum_types %}
                    <button class="filter-input" name="datum_type" value="{{ datum_type.datum_type_id }}"
                            datum_group_id="{{ datum_type.datum_group_id }}">
                        {{ datum_type.readable_name }}
                    </button>
                {% endfor %}
            </fieldset>
        {% endfor %}
    </div>
</div>

<div class="section filter-associations">
    <h4 class="title">Filter by Associations</h4>

    <div class="content">
        <fieldset class="input-group">
            <h5 class="title">Groups</h5>
            <select name="datum_groups">
                <option></option>
                {% for datum_group in datum_groups %}
                    <option value="{{ datum_group.datum_group_id }}">
                        {{ datum_group.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset class="input-group">
            <h5 class="title">Types</h5>
            <select name="datum_types">
                <option></option>
                {% for datum_type in datum_types %}
                    <option value="{{ datum_type.datum_type_id }}"
                            datum_group_id="{{ datum_type.datum_group_id }}">
                        {{ datum_type.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </fieldset>
        <br>
        <fieldset class="input-group">
            <h5 class="title">Objects</h5>
            <select name="datum_objects">
                <option></option>
            </select>
            <button class="add-filter" name="add-association">
                +
            </button>
            <br>
        </fieldset>

    </div>
</div>

<div class="section filter-elements">
    <h4 class="title">Filter by Values</h4>

    <div class="content">
        <fieldset class="input-group">
            <h5 class="title">Types</h5>
            <select name="element_types">
                <option></option>
                {% for element_type in element_types %}
                    <option value="{{ element_type.element_type_id }}">
                        {{ element_type.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset class="input-group">
            <h5 class="title">Operators</h5>
            <select name="element_operators">
                <option></option>
            </select>
        </fieldset>
        <br>
        <fieldset class="input-group">
            <h5 class="title">Filter Value</h5>
            <input name="element_value">
            <button class="add-filter" name="add-element-filter">
                +
            </button>
            <br>
        </fieldset>
    </div>
</div>