<section class="viewuse" template="{{ template_name }}" id="{{ id }}"
         onmouseenter="Tracuse.ui.viewuse.mouseEnter(this, event)"
         onmouseleave="Tracuse.ui.viewuse.mouseLeave(this, event)">
    <input name="title" value="View Title">
    <button name="new-object" onclick="Tracuse.ui.viewuse.openObjectPanel(this, event)"><i>+</i><span>New Object</span></button>
    <button name="view-settings" onclick="Tracuse.ui.viewuse.openViewPanel(this, event)"><i>---------</i><span>View Settings</span></button>
    <button name="close-view" onclick="Tracuse.ui.viewuse.closeView(this, event)"><i>X</i><span>Close View</span></button>
    <div class="content">
        {% block viewuse_content %}{% endblock %}
    </div>
    <aside class="panel object-panel">
        <h3 class="title" onclick="Tracuse.ui.viewuse.showHidePanel(this, event)">
            Object Settings
        </h3>

        <div class="content">
            <div class="section datum-groups">
                <h4 class="title" onclick="Tracuse.ui.viewuse.showHidePanel(this, event)">Groups/Types</h4>

                <div class="content">
                    {% for datumGroup in datumGroups %}
                        <fieldset class="input-group col-{{ loop.index }}">
                            <button name="datum_group" value="{{ datumGroup.datum_group_id }}"
                                    onclick="Tracuse.ui.viewuse.clickDatumGroup(this, event)">
                                {{ datumGroup.readable_name }}
                            </button>

                            {% for datumType in datumTypes %}
                                {% if datumType.datum_group_id == datumGroup.datum_group_id %}
                                    <button name="datum_type" value="{{ datumType.datum_type_id }}"
                                            datum_group_id="{{ datumType.datum_group_id }}"
                                            onclick="Tracuse.ui.viewuse.clickDatumType(this, event)">
                                        {{ datumType.readable_name }}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </fieldset>
                    {% endfor %}
                </div>
            </div>

            <div class="section associations">
                <h4 class="title">Associations</h4>
                <fieldset class="input-group">

                </fieldset>
            </div>
            <div class="section elements">
                <h4 class="title">Elements</h4>
                <fieldset class="input-group">

                </fieldset>
            </div>
        </div>

    </aside>
    <aside class="panel view-panel">
        <h3 class="title" onclick="Tracuse.ui.viewuse.showHidePanel(this, event)">
            View Settings
        </h3>

    </aside>
</section>