<section class="viewuse" template="{{ template_name }}"
         id="{{ this_viewuse.eid }}"
         eid="{{ this_viewuse.eid }}"
         viewuse_object_id = "{{ this_viewuse.viewuse_object_id }}">
    <input name="title" value="View Title">

    <div class="content">
        {% block viewuse_content %}{% endblock %}
    </div>

    <nav class="viewuse-controls">
        <button name="viewuse-options">View<br>Options</button>
        <br>
        <button name="new-object">New<br>Object</button>
        <br>
    </nav>

    {% include "viewuse/viewuse_options.html" %}
</section>
