
.datum {
    position: relative;
    width: 10em;
    border: 1px solid #6E8BD9;
    background-color: #DBE0ED;
    box-shadow: 1px 1px 0 darkgray;
    font-size: 125%;
}

.datum i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0.15;
    font-size: 350%;
    cursor: default;
}

/*Area*/
.datum[datum_group_id="1"] {
    border-radius: 0;
}

/*Activity*/
.datum[datum_group_id="2"] {
    border-radius: 50%;
}

/*Time*/
.datum[datum_group_id="3"] {
    border-radius: 0 0 25% 25% / 0 0 40% 40%;
}

/*Item*/
.datum[datum_group_id="4"] {
    border-radius: 25% 25% 0 0 / 40% 40% 0 0;
}

/*Default Element Size and Position*/
.datum .element-input {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}