
.datum {
    width: 10em;
}

.datum > .content {
    margin: 0;
}

.datum .datum-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0.15;
    font-size: 350%;
    cursor: default;
}

.datum.active {

}

/*Area*/
.datum[datum_group_id="1"] {
    border-radius: 0;
}

/*Activity*/
.datum[datum_group_id="2"] {
    border-radius: 50%;
}

/*Time*/
.datum[datum_group_id="3"] {
    border-radius: 0 0 25% 25% / 0 0 40% 40%;
}

/*Item*/
.datum[datum_group_id="4"] {
    border-radius: 25% 25% 0 0 / 40% 40% 0 0;
}