
.datum-create > .content > .in-view {
    width: 100%;
    font-size: 150%;
}

.datum-create > .content > .types {
    max-width: 25%;
    font-size: 75%;
}

.datum-create .input-button {
    border: 2px solid;
}