.datum-medium {
    width: 10em;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 0 darkgray;
}

.datum-medium > .controls {
    font-size: 75%;
}

.datum-medium > .controls > button[name='show-menu'] {
    position: absolute;
    left: -2em;
    border-width: 1px 0 1px 1px;
}

.datum-medium > .controls > button[name='close-object'] {
    position: absolute;
    right: -2em;
    border-width: 1px 1px 1px 0;
}

.datum-medium > .content {
    margin: 0;
}

.datum-medium > .menu {
    font-size: 50%;
    left: -5em;
}

.datum-medium > .menu button {
    margin-top: 0;
    margin-bottom: 0;
}

.datum-medium .datum-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0.15;
    font-size: 400%;
    cursor: default;
}

.datum-medium .element label {
    visibility: hidden;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 75%;
    opacity: 0.5;
    background-color: transparent;
    white-space: nowrap;
}

.datum-medium.active .element label,
.datum-medium .element:hover label {
    visibility: visible;
}

.datum-medium .element-input {
    margin: 0 auto;
}

.datum-medium .element-text .element-input {
    height: 2.85em;
    width: 100%;
}

.datum-medium .element-datetime .element-input {
    width: 100%;
}