
{% block background %}{% endblock %}

<article class="content">
    {% block content %}{% endblock %}
</article>

{% block title %}
    <p class="title"> {{ this_object.title|default('Title') }}</p>
{% endblock %}

<div class="controls">
    {% block controls %}
        <button name="show-menu" title="Show Menu"><i class="fa fa-bars"></i></button>
        <button name="close-object" title="Close Object"><i class="fa fa-close"></i></button>
    {% endblock %}
</div>

<nav class="menu position-embed">
    <button name="hide-menu" class="hover-white-darkgreen"><i class="fa fa-toggle-left fa-fw"></i><span>Hide Menu</span></button>
    {% block menu %}{% endblock %}
</nav>