<fieldset class="section selections">
    <p class="title">Filter Selections</p>

    <div class="content">
    </div>
</fieldset>

<fieldset class="section groups">
    <p class="title">Groups</p>

    <div class="content">
        {% for datum_group in datum_groups %}
            <div class="groups-types-container">
                <button class="add-filter" name="add-datum_group" value="{{ datum_group.datum_group_id }}">
                    {{ datum_group.readable_name }}
                </button>
            </div>
        {% endfor %}
    </div>

</fieldset>

<fieldset class="section types">
    <p class="title">Types</p>

    <div class="content">
        {% for datum_group in datum_groups %}
            <div class="groups-types-container">
                <div class="types-container">
                    {% for datum_type in datum_group.datum_types %}
                        <button class="add-filter" name="add-datum_type" value="{{ datum_type.datum_type_id }}">
                            {{ datum_type.readable_name }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</fieldset>

<fieldset class="section associations">
    <p class="title">Associations</p>

    <div class="content">
        <label class="input-wrap">
            <span class="input-label">Groups</span>
            <select class="input-element" name="association_groups">
                <option></option>
                {% for datum_group in datum_groups %}
                    <option value="{{ datum_group.datum_group_id }}">
                        {{ datum_group.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Types</span>
            <select class="input-element" name="association_types">
                <option></option>
                {% for datum_type in datum_types %}
                    <option value="{{ datum_type.datum_type_id }}">
                        {{ datum_type.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Objects</span>
            <select class="input-element" name="association_datums">
                <option></option>
            </select>
        </label>

        <label class="input-wrap" style="display: none">
            Placeholder for additional association options
            Distance & Parent/Child/Both
        </label>
        <button class="add-filter" name="add-association"><i class="fa fa-plus"></i></button>

    </div>
</fieldset>

<fieldset class="section elements">
    <p class="title">Element Values</p>

    <div class="content">
        <label class="input-wrap">
            <span class="input-label">Types</span>
            <select class="input-element" name="element_types">
                <option></option>
                {% for element_type in element_types %}
                    <option value="{{ element_type.element_type_id }}">
                        {{ element_type.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Operators</span>
            <select class="input-element" name="element_operators">
                <option></option>
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Filter Value</span>
            <input class="input-element" name="element_value">
        </label>

        <button class="add-filter" name="add-element"><i class="fa fa-plus"></i></button>

    </div>
</fieldset>