<fieldset class="section groups-types">
    <p class="title">Groups<span>Types</span></p>

    <div class="content">
        {% for datum_group in datum_groups %}
            <div class="container">
                <div class="groups">
                    <button class="add-filter" name="add-datum_group" value="{{ datum_group.datum_group_id }}">
                        {{ datum_group.readable_name }}
                    </button>
                </div>
                <div class="types">
                    {% for datum_type in datum_group.datum_types %}
                        <button class="add-filter" name="add-datum_type" value="{{ datum_type.datum_type_id }}">
                            {{ datum_type.readable_name }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</fieldset>

<fieldset class="section associations">
    <p class="title">Associations</p>

    <div class="content">
        <label class="input-wrap">
            <span class="input-label">Groups</span>
            <select class="input-element" name="association_groups">
                <option></option>
                {% for datum_group in datum_groups %}
                    <option value="{{ datum_group.datum_group_id }}">
                        {{ datum_group.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Types</span>
            <select class="input-element" name="association_types">
                <option></option>
                {% for datum_type in datum_types %}
                    <option value="{{ datum_type.datum_type_id }}">
                        {{ datum_type.readable_name }}
                    </option>
                {% endfor %}
            </select>
        </label>

        <label class="input-wrap">
            <span class="input-label">Objects</span>
            <select class="input-element" name="association_datums">
                <option></option>
            </select>
        </label>
        <button class="add-filter" name="add-association"><i class="fa fa-plus"></i></button>

    </div>
</fieldset>