<fieldset class="section groups-types">
    <p class="title">Groups<span>Types</span></p>

    <div class="content">
        {% for datum_group in datum_groups %}
            <div class="container">
                <div class="groups">
                    <button class="add-filter" name="add-datum_group" value="{{ datum_group.datum_group_id }}">
                        {{ datum_group.readable_name }}
                    </button>
                </div>
                <div class="types">
                    {% for datum_type in datum_group.datum_types %}
                        <button class="add-filter" name="add-datum_type" value="{{ datum_type.datum_type_id }}">
                            {{ datum_type.readable_name }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</fieldset>