{% extends "base_project.html" %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/website/base_website.css' %}">
{% endblock %}

{% block logo_source %}
    {% static 'images/Tracuse-LogoName-Small-325x85.png' %}
{% endblock %}

{% block nav_block %}
    <a href="#mission">
        <button class="nav-button">The Mission</button>
    </a>
    <a href="#objects">
        <button class="nav-button">Keep It Simple</button>
    </a>
    <a href="#associations">
        <button class="nav-button">How You Think</button>
    </a>
    <a href="#views">
        <button class="nav-button">How You Work</button>
    </a>
    <a href="#help">
        <button class="nav-button">Guiding Hand</button>
    </a>
    <a href="#sign-up">
        <button class="sign-up-button nav-button">Sign-Up</button>
    </a>
{% endblock %}

{% block body_block %}

    <section id="hero">
        <div id="hero-background"></div>
        <h2 class="intro">A Truly <strong>Personal</strong> <br>Information Management System</h2>
        <br>
        <a href="#mission">
            <button class="nav-button">Learn<br>More</button>
        </a>
        <a href="#sign-up">
            <button class="nav-button">Sign<br>Up</button>
        </a>
    </section>

    <section class="nav-stop learn-content bkgrd-blue" id="mission">
        <div class="text">
            <p>
                Get the information you need for any situation
            </p>

        </div>
        <img src="{% static 'images/learn/mission-1800x450.png' %}">
    </section>

    <section class="nav-stop learn-content bkgrd-white" id="objects">
        <div class="text">
            <p>
                Simplify your data into clearly defined, easy-to-use objects
            </p>
        </div>
        <div class="image-container">
            <img class="old" src="{% static 'images/learn/objects-old-1500x900.png' %}">
            <img class="arrow" src="{% static 'images/learn/objects-arrow-1500x900.png' %}">
            <img class="new" src="{% static 'images/learn/objects-new-1500x900.png' %}">
        </div>
    </section>

    <section class="nav-stop learn-content bkgrd-green" id="associations">
        <div class="content-container">
            <div class="image-container side">
                <img class="folders" src="{% static 'images/learn/associations-folders-900x1350.png' %}">
            </div>

            <div class="text">
                <p>
                    Ditch the folders and tags
                </p>

                <p>
                    Organize the way you think
                </p>
            </div>
            <div class="image-container side">
                <img class="tags" src="{% static 'images/learn/associations-tags-900x1350.png' %}">
            </div>
        </div>
        <div class="image-container bottom">
            <img class="new" src="{% static 'images/learn/associations-new-1800x600.png' %}">
        </div>
    </section>

    <section class="nav-stop learn-content bkgrd-white" id="views">
         <div class="text">
            <p>
                Interact with your data beyond traditional to-do lists, calendars, and text
            </p>
        </div>
        <div class="image-container">
            <img class="1" src="{% static 'images/learn/views-1-1800x450.png' %}">
            <img class="2" src="{% static 'images/learn/views-2-1800x450.png' %}">
            <img class="3" src="{% static 'images/learn/views-3-1800x450.png' %}">
        </div>
    </section>

    <section class="nav-stop learn-content bkgrd-white" id="help">
        How you View
        Personalized Formatting
    </section>

    <section class="nav-stop bkgrd-orange" id="sign-up">
        <p>
            Let's do something extraordinary with ordinary data.
        </p>
    </section>

{% endblock %}

{% block script_block %}
    <script src={% static "website/website.js" %}></script>
{% endblock %}
