{% extends "base_project.html" %}
{% load staticfiles %}

{% block meta_block %}

    <meta charset="utf-8"/>
    <meta name="description"
          content="Get the information you need for any situation.  Navigate across your data, projects, and tasks for better planning, prioritization, and focus."/>
    <meta name="robots" content="index,follow"/>

    <!-- Bing Verification -->
    <meta name="msvalidate.01" content="4A37629E5ACDB926889B52C8E10A35A0"/>

    <!-- Open Graph Tags -->
    <meta property="og:title" content="Tracuse"/>
    <meta property="og:site_name" content="Tracuse"/>
    <meta property="og:image" content="http://www.tracuse.com/images/Tracuse-LogoShadow-Small-200x200.png"/>
    <meta property="og:url" content="http://www.tracuse.com"/>
    <meta property="og:description"
          content="Tracuse lets you see and organize all of your information across every app, every part of your life.  Navigate across your data, projects, and tasks for better planning, prioritization, and focus."/>

{% endblock %}

{% block script_top_block %}
    <!-- Google Web Analytics -->
    <script>
        if (window.location.host != 'localhost') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-54037140-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/website/base_website.css' %}">
{% endblock %}

{% block logo_source %}
    {% static 'images/Tracuse-LogoName-Small-325x85.png' %}
{% endblock %}

{% block nav_block %}
    <nav>
        <a href="#mission">
            <button class="nav-button color-green-white button-green">The Mission</button>
        </a>
        <a href="#objects">
            <button class="nav-button color-green-white button-green">Keep It Simple</button>
        </a>
        <a href="#associations">
            <button class="nav-button color-green-white button-green">How You Think</button>
        </a>
        <a href="#views">
            <button class="nav-button color-green-white button-green">How You Work</button>
        </a>
        {#    <a href="#help">#}
        {#        <button class="nav-button">Guiding Hand</button>#}
        {#    </a>#}
        <a href="#sign-up">
            <button class="nav-button color-orange-white button-orange">Sign-Up</button>
        </a>
    </nav>
{% endblock %}

{% block body_block %}

    <section id="hero">
        <div id="hero-background"></div>
        <h2 class="intro text-shadow-dark">
            A Truly <strong>Personal</strong> <br>Information Management System
        </h2>
        <br>
        <a href="#mission">
            <button class="nav-button color-green-white button-green">Learn<br>More</button>
        </a>
        <a href="#sign-up">
            <button class="nav-button color-orange-white button-orange">Sign<br>Up</button>
        </a>
    </section>

    <section class="nav-stop color-blue-white text-shadow-dark" id="mission">
        <div class="text">
            <p>
                Get the information you need for any situation
            </p>

        </div>
        <img src="{% static 'images/learn/mission-1800x450.png' %}">
    </section>

    <section class="nav-stop color-white-darkblue text-shadow-light" id="objects">
        <div class="text">
            <p>
                Simplify your data into clearly defined, easy-to-use objects
            </p>
        </div>
        <div class="image-container">
            <img class="old" src="{% static 'images/learn/objects-old-1500x900.png' %}">
            <img class="arrow" src="{% static 'images/learn/objects-arrow-1500x900.png' %}">
            <img class="new" src="{% static 'images/learn/objects-new-1500x900.png' %}">
        </div>
    </section>

    <section class="nav-stop color-green-darkblue text-shadow-dark" id="associations">
        <div class="content-container">
            <div class="image-container side">
                <img class="folders" src="{% static 'images/learn/associations-folders-900x1350.png' %}">
            </div>

            <div class="text">
                <p>
                    Ditch the folders and tags
                </p>

                <p>
                    Organize the way you think
                </p>
            </div>
            <div class="image-container side">
                <img class="tags" src="{% static 'images/learn/associations-tags-900x1350.png' %}">
            </div>
        </div>
        <div class="image-container bottom">
            <img class="new" src="{% static 'images/learn/associations-new-1800x600.png' %}">
        </div>
    </section>

    <section class="nav-stop color-white-darkblue text-shadow-light" id="views">
        <div class="text">
            <p>
                Interact with your data beyond traditional to-do lists, calendars, and text
            </p>
        </div>
        <div class="image-container">
            <img class="1" src="{% static 'images/learn/views-1-1800x450.png' %}">
            <img class="2" src="{% static 'images/learn/views-2-1800x450.png' %}">
            <img class="3" src="{% static 'images/learn/views-3-1800x450.png' %}">
        </div>
    </section>

    {#    <section class="nav-stop learn-content bkgrd-white" id="help">#}
    {#        How you View#}
    {#        Personalized Formatting#}
    {#    </section>#}

    <section class="nav-stop color-orange-darkblue text-shadow-light" id="sign-up">
        <p class="lead">
            Sign up for notification as soon as Tracuse is available
        </p>

        <form id="sign-up-form" name="sign-up-form">
            {% csrf_token %}
            <label for="name">NAME</label>
            <input id="name" name="name" type="text">
            <label for="email">EMAIL</label>
            <input id="email" name="email" type="email" required>
            <label for="comments">COMMENTS</label>
            <textarea id="comments" name="comments" placeholder="Share your thoughts about the project" rows="3"></textarea>
            <button class="color-orange-white button-orange" type="submit">Sign Up</button>
            <p class="message"></p>
        </form>
        <p class="end">
            Let's do something extraordinary with our ordinary data
        </p>
    </section>

{% endblock %}

{% block footer_block %}
    <img class="logo" src="{% static 'images/Tracuse-LogoShadow-Small-200x200.png' %}">
{% endblock %}

{% block script_bottom_block %}
    <script src={% static "website/website.js" %}></script>
{% endblock %}
