{% extends "website/base_website.html" %}
{% load staticfiles %}

{% block body_block %}

    <nav class="menu learn-menu">
        <ul>
            <li><a href="#why">Why?</a></li>
            <li><a href="#objects">Keep It Simple</a></li>
            <li><a href="#associations">How You Think</a></li>
            <li><a href="#views">How You Work</a></li>
            <li><a href="#formatting">How You View</a></li>
            <li><a href="#productivity">Guiding Hand</a></li>
            <li><a href="#sources">Link Your Data</a></li>
            <li><a href="#sharing">Be Yourself</a></li>
        </ul>
    </nav>

    <div class="learn-content">
        <section id="why">
            <div class="text">
                <p>
                    Our information is scattered.
                </p>

                <p>
                    How do we keep what's important close by?
                </p>
            </div>
            <img src="{% static 'images/learn/why.png' %}">
        </section>

        <section id="objects">
            Keep it Simple
            Simple Objects
        </section>

        <section id="associations">
            How you Think
            Associations
        </section>

        <section id="views">
            How you Work
            Flexible Views
        </section>

        <section id="formatting">
            How you View
            Personalized Formatting
        </section>

        <section id="productivity">
            Guiding Hand
            Productivity Guidance
        </section>

        <section id="sources">
            Link it all Up
            External Data
        </section>

        <section id="sharing">
            Be Yourself
            Sharing
        </section>

    </div>

    <script>
        window.location.href = "/learn/#why";
    </script>
{% endblock %}
