{% extends "website/base_website.html" %}

{% block body_block %}

    <nav class="menu more-menu">
        <ul>
            <li><a href="#why">Why?</a></li>
            <li><a href="#objects">Keep It Simple</a></li>
            <li><a href="#associations">How You Think</a></li>
            <li><a href="#views">How You Work</a></li>
            <li><a href="#formatting">How You View</a></li>
            <li><a href="#productivity">Guiding Hand</a></li>
            <li><a href="#sources">Link Your Data</a></li>
            <li><a href="#sharing">Be Yourself</a></li>
        </ul>
    </nav>

    <section class="more-content">
        <article id="why">
            Why?
            Problem Confusion to Views
        </article>

        <article id="objects">
            Keep it Simple
            Simple Objects
        </article>

        <article id="associations">
            How you Think
            Associations
        </article>

        <article id="views">
            How you Work
            Flexible Views
        </article>

        <article id="formatting">
            How you View
            Personalized Formatting
        </article>

        <article id="productivity">
            Guiding Hand
            Productivity Guidance
        </article>

        <article id="sources">
            Link it all Up
            External Data
        </article>

        <article id="sharing">
            Be Yourself
            Sharing
        </article>

    </section>

    <script>
        window.location.href = "/more/#why";
    </script>
{% endblock %}
