<div class="content">

    <fieldset class="section selections">
        <p class="title">Filter Selections</p>

        <div class="content">
            <div id="FilterRuleType"></div>
            <div id="FilterRuleAssociation"></div>
            <div id="FilterRuleElement"></div>
        </div>

    </fieldset>

    <fieldset class="section types">
        <p class="title">Types</p>

        <div class="content">
            {% for datum_group in datum_groups %}
                <div class="types-container">
                    <button class="input-button" name="datum_group" value="{{ datum_group.datum_group_id }}"
                            title="{{ datum_group.long_definition }}">
                        {{ datum_group.readable_name }}
                    </button>
                    {% for datum_type in datum_group.datum_types %}
                        <button class="add-filter input-button" name="FilterRuleType" value="{{ datum_type.datum_type_id }}"
                                title="{{ datum_type.long_definition }}">
                            {{ datum_type.readable_name }}
                            <form>
                                <input name="datum_type_id" data-type="integer" value="{{ datum_type.datum_type_id }}">
                                <input name="conditional" data-type="text" value="OR">
                            </form>
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </fieldset>

    <fieldset class="section associations">
        <p class="title">Associations</p>

        <div class="content">
            <label class="input-wrap">
                <span class="input-label">Groups</span>
                <select class="input-input" name="association_groups">
                    <option></option>
                    {% for datum_group in datum_groups %}
                        <option value="{{ datum_group.datum_group_id }}">
                            {{ datum_group.readable_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>

            <label class="input-wrap">
                <span class="input-label">Types</span>
                <select class="input-input" name="association_types">
                    <option></option>
                    {% for datum_type in datum_types %}
                        <option value="{{ datum_type.datum_type_id }}">
                            {{ datum_type.readable_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <label class="input-wrap">
                <span class="input-label">Objects</span>
                <select class="input-input" name="datum_object_id" data-type="integer" form="association-form">
                    <option></option>
                </select>
            </label>
            <br>
            <label class="input-wrap">
                <span class="input-label">Direction</span>
                <select class="input-input" name="association_direction_id" form="association-form">
                    <option></option>
                    {% for association_direction in association_directions %}
                        <option value="{{ association_direction.association_direction_id }}"
                                {{ " selected" if association_direction.readable_name == "Both" }}>
                            {{ association_direction.readable_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <input name="conditional" data-type="text" value="AND" form="association-form">
            <br>
            <button class="add-filter input-button" name="FilterRuleAssociation"><i class="fa fa-plus"></i>

                <form id="association-form"></form>
            </button>

        </div>
    </fieldset>

    <fieldset class="section elements">
        <p class="title">Element Values</p>

        <div class="content">
            <label class="input-wrap">
                <span class="input-label">Types</span>
                <select class="input-input" name="element_type_id" data-type="integer" form="element-form">
                    <option></option>
                    {% for element_type in element_types %}
                        <option value="{{ element_type.element_type_id }}">
                            {{ element_type.readable_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <label class="input-wrap">
                <span class="input-label">Operators</span>
                <select class="input-input" name="element_operator_id" data-type="integer" form="element-form">
                    <option></option>
                </select>
            </label>
            <br>
            <label class="input-wrap">
                <span class="input-label">Filter Value</span>
                <input class="input-input" name="element_value" data-type="text" form="element-form">
            </label>
            <input name="conditional" data-type="text" value="AND" form="element-form">
            <br>
            <button class="add-filter input-button" name="FilterRuleElement"><i class="fa fa-plus"></i>

                <form id="element-form"></form>
            </button>

        </div>
    </fieldset>

</div>