<label class="element-label" for="{{ id }}">
    {{ this_element.element_name }}
</label>
<input class="element-input"
       model="element_datum_objects"
       id="{{ id }}"
       element_datum_object_id="{{ this_element.element_datum_object_id }}"
       element_datum_type_id="{{ this_element.element_datum_type_id }}"
       element_type_id="{{ this_element.element_type_id }}"
       type="{{ this_element.html_input_type }}"
       name="element_value"
       value="{{ this_element.element_value }}">