
section {
    display: inline-block;
    position: relative;
    min-height: 8em;
    min-width: 15em
    float: left;
    margin: 2em;
    border: 1px solid #35446A;
    padding: 1em;
    resize: both;
    overflow: scroll;
}

section input[name="title"] {
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    text-align: center;
    font-size: 150%;
}

section button {
    position: absolute;
    height: 4em;
    width: 4em;
    border: 1px solid #587e1f;
    background-color: #ddf0bf;
    text-align: center;

}
section button * {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}
section button i {
    color: #cce8a2;
    font-size: 400%;
    line-height: 25%;
    letter-spacing: -4px;
}
section button span {
    color: #587e1f;
}
section button:hover {
    color: #ddf0bf;
    background-color: #587e1f;
}
section button[name="new-object"] {
    top: 0;
    left: 0;
}
section button[name="view-settings"] {
    top: 0;
    right: 0;
}
section button[name="close-view"] {
    top: 4em;
    right: 0;
}
section div.content {
    width: 90%;
    margin: 1em auto;
}