
x-viewuse {
    display: inline-block;
    position: relative;
    min-height: 8em;
    min-width: 15em
    float: left;
    margin: 2em;
    border: 1px solid #35446A;
    padding: 1em;
    resize: both;
    overflow: scroll;
}

x-viewuse input[name="title"] {
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    text-align: center;
    font-size: 150%;
}

x-viewuse button {
    position: absolute;
    height: 4em;
    width: 4em;
    border: 1px solid #587e1f;
    background-color: #ddf0bf;
    text-align: center;

}
x-viewuse button * {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}
x-viewuse button i {
    color: #cce8a2;
    font-size: 400%;
    line-height: 25%;
    letter-spacing: -4px;
}
x-viewuse button span {
    color: #587e1f;
}
x-viewuse button:hover {
    color: #ddf0bf;
    background-color: #587e1f;
}
x-viewuse button[name="new-object"] {
    top: 0;
    left: 0;
}
x-viewuse button[name="view-settings"] {
    top: 0;
    right: 0;
}
x-viewuse button[name="close-view"] {
    top: 4em;
    right: 0;
}
x-viewuse section.content {
    width: 85%;
    margin: 1em auto;
}