<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tracuse</title>

    <link rel="icon" href="{% static 'images/Tracuse-Icon-32x32.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'libraries/font_awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/jquery-datetimepicker/jquery.datetimepicker.css'%}"/ >

    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles_base.css' %}">
    {% block css_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'dist/styles_website.css' %}">
    {% endblock %}

</head>
<body>

<main>
    {% block body_block %}{% endblock %}
</main>

<footer>
    {% block footer_block %}{% endblock %}
</footer>

<header>
    <a href="/"><img src="{% block logo_source %}{% endblock %}" alt="Tracuse Logo"></a>
    <nav>
        {% block nav_block %}{% endblock %}
    </nav>
</header>

{% block menu %}{% endblock %}

<script src={% static "libraries/jquery/jquery.min.js" %}></script>
<script src={% static "libraries/jquery-ui/jquery-ui.min.js" %}></script>
<script src={% static "libraries/jquery-datetimepicker/jquery.datetimepicker.js" %}></script>
<script src={% static "libraries/moment/moment.min.js" %}></script>
{% block script_block %}{% endblock %}

</body>
</html>