<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tracuse | A Truly Personal Information Management System</title>

    {% block meta_block %}{% endblock %}

    <link rel="icon" href="{% static 'images/Tracuse-Icon-32x32.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'libraries/font_awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/jquery-datetimepicker/jquery.datetimepicker.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles_base.css' %}">
    {% block css_block %}{% endblock %}

    {% block script_top_block %}{% endblock %}

</head>
<body class="color-white-blue">

<main>
    {% block body_block %}{% endblock %}
</main>

<footer>
    {% block footer_block %}{% endblock %}
</footer>

<header>
    <a href="/"><img src="{% block logo_source %}{% endblock %}" alt="Tracuse Logo"></a>
    {% block nav_block %}{% endblock %}
</header>

{% block menu %}{% endblock %}

<script src={% static "libraries/jquery/jquery.min.js" %}></script>
<script src={% static "libraries/jquery-ui/jquery-ui.min.js" %}></script>
<script src={% static "libraries/jquery-datetimepicker/jquery.datetimepicker.js" %}></script>
<script src={% static "libraries/moment/moment.min.js" %}></script>
{% block script_bottom_block %}{% endblock %}

</body>
</html>