{% extends "base.html" %}

{% block body_block %}
    <ul class="datum-list">
        {% for datum in datum_objects %}
            {# Datum Group for background color #}
            <li class="datum group-{{ datum.datum_group }}">
                <h4 class="datum-title">{{ datum }}</h4>

                <h5 class="datum-type">{{ datum.datum_type }}</h5>

                {# Delete Button #}
                <form id="datum-{{ datum.pk }}-delete" name="datum-{{ datum.pk }}-delete"
                      class="form-datum-delete" method="post" action="datum/{{ datum.pk }}/delete/">
                    {% csrf_token %}
                    <input type="hidden" name="datum-pk" value="{{ datum.pk }}">
                    <input type="submit" value="X">
                </form>

                {# Update Form #}
                <form id="datum-{{ datum.pk }}-update" name="datum-{{ datum.pk }}-update"
                      class="form-datum-update" method="post" action="datum/{{ datum.pk }}/update/">
                    {% csrf_token %}

                    {# Elements in Datum #}
                    {% for element in datum.element_datum_objects.all %}
                        <label for="{{ element.pk }}">{{ element.element_type.readable_name }}</label>

                        {# Test for Element Options #}
                        {% if element.element_type.element_options.count > 0 %}
                            <select id="{{ element.pk }}" name="{{ element.pk }}">
                                {% for element_option in element.element_type.element_options.all reversed %}
                                    <option value="{{ element_option.pk }}"
                                            {% if element.get_element_value == element_option.readable_name %} selected {% endif %} >
                                        {{ element_option.readable_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input id="{{ element.pk }}" name="{{ element.pk }}"
                                   type="{{ element.element_type.html_element }}" value="{{ element.element_value }}">

                        {% endif %}

                        <br>
                    {% endfor %}

                    <input type="submit" value="Update">
                </form>

            </li>
        {% endfor %}

        <li class="datum datum-add">

            {# Add Form #}
            <form id="datum-{{ datum.pk }}-add" name="datum-{{ datum.pk }}-add"
                  class="form-datum-add" method="post" action="datum/add/">
                {% csrf_token %}

                <label for="add-datum-type">Type</label>
                <select id="add-datum-type" name="add-datum-type" class="add-datum-type">
                    {% for datum_type in datum_types %}
                        <option value="{{ datum_type.pk }}"
                                {% if datum_type.pk == datum.datum_type.pk %} selected {% endif %} >
                            {{ datum_type.readable_name }}
                        </option>
                    {% endfor %}
                </select>

                <input type="submit" value="+">
            </form>

        </li>
    </ul>

{% endblock %}
