.datums-tile {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.datums-tile .datum {
    flex: 0 1 auto;
}