{% extends "common/container.html" %}

{% block background %}
    <i class="datum-icon {{ this_object.datum_type.icon_class }}"></i>
{% endblock %}

{% block content %}
    <section class="section elements">
        <p class="title">Associations</p>
        <article class="content">
            {% block elements %}{% endblock %}
        </article>
    </section>

    <section class="section associations">
        <p class="title">Associations</p>
        <article class="content">
            {% block associations %}{% endblock %}
        </article>
    </section>
{% endblock %}
