@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

body {
    background-color: #FAFAFA;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

header, footer {
    position: fixed;
    height: 4em;
    width: 100%;
    background-color: rgba(53, 68, 106, 1);
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

main {
    position: absolute;
    top: 4em;
    z-index: -1;
}

header img {
    height: 65%;
    margin-top: 0.65em;
    margin-left: 2em;
}