@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

body {
    background-color: #FAFAFA;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #35446A;
}

div, section, article, aside, p, fieldset,
input, select, textarea, button {
    margin: 0.25em;
    padding: 0.25em;
    line-height: 1.25em;
}

header, footer {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 4rem;
}

footer {
    bottom: 0;
}

main {
    position: relative;
    top: 4rem;
}

header button[name='menu'] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    margin: 0;
    font-size: 200%;
    opacity: 0.75;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 65%;
}

header nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5rem;
}

header .nav-button {
    height: 2em;
    border: solid 1px darkgray;
    font-size: 135%;
    color: #35446A;
}

input, select, textarea {
    border-radius: 0.35em;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 1em rgba(169, 217, 99, 0.75);
    background-color: rgba(169, 217, 99, 0.5);
}

button {
    cursor: pointer;
    border-radius: 0.5em;
}

button:hover {
    background-color: #fafafa;
}

button span {
    margin: 0 0.25em;
}

/* Fix JQuery-UI Resizable Controls Position
* Avoid scroll
*/
.ui-resizable-handle.ui-resizable-e {
    right: 0;
}

.ui-resizable-handle.ui-resizable-s {
    bottom: 0;
}

.ui-resizable-handle.ui-resizable-ne {
    top: 0;
    right: 0;
}

.ui-resizable-handle.ui-resizable-se {
    right: 0;
    bottom: 0;
}