@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

body {
    background-color: #FAFAFA;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #35446A;
}

header, footer {
    height: 4rem;
    width: 100%;
    position: fixed;
    padding: 0.75em 0;
}

header {
    top: 0;
    box-shadow: 0 2px 1px 0 rgba(100, 100, 100, 0.75);
}

footer {
    bottom: 0;
    border-top: 2px solid rgba(100, 100, 100, 0.75);
}

main {
    position: relative;
    top: 4rem;
}

header button[name='menu'] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    font-size: 200%;
    opacity: 0.75;
}

header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 65%;
}

header nav {
    display: inline-block;
    position: absolute;
    right: 5rem;
}

header .nav-button {
    display: inline-block;
    height: 2em;
    margin-left: 0.5em;
    border: solid 1px darkgray;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 135%;
    color: #35446A;
    cursor: pointer;
}

header .nav-button:focus {
    background-color: #ffffff;
}

input, select {
    border: solid 1px lightgray;
    background-color: rgba(250, 250, 250, 0.5);
}