@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

section, article, aside, p, fieldset,
label, input, select, textarea, button {
    margin: 0.25em;
    padding: 0.25em;
    line-height: 1.15em;
}

header, footer {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 4rem;
    text-align: center;
}

main {
    margin-top: 4rem;
}

header img {
    display: inline-block;
    height: 65%;
    margin: 0.25em auto;

}

header nav {
    display: inline-block;
    float: right;
    margin-right: 2em;

}

form, label, input, select, textarea {
    border-radius: 0.15em;
}

button {
    cursor: pointer;
    border-radius: 0.35em;
    padding: 0.35em;
}

button span {
    margin: 0 0.25em;
}

/* Color Schemes */

.color-white-darkblue {
    background-color: #fafafa;
    color: #35436a;
    border-color: #6e8cd8;
}

.color-white-lightblue {
    background-color: #fafafa;
    color: #35436a;
    border-color: #6e8cd8;
}

.color-white-darkgreen {
    background-color: #fafafa;
    color: #85be2e;
    border-color: #85be2e;
}

.color-darkblue-white {
    background-color: #35436a;
    color: #fafafa;
    border-color: #fafafa;
}

.color-lightblue-white {
    background-color: #6e8cd8;
    color: #fafafa;
    border-color: #fafafa;
}

.color-lightgreen-white {
    background-color: #a9d963;
    color: #fafafa;
    border-color: #fafafa;
}

.color-lightgreen-darkblue {
    background-color: #a9d963;
    color: #35436a;
    border-color: #35436a;
}

.color-darkgreen-white {
    background-color: #85be2e;
    color: #fafafa;
    border-color: #fafafa;
}

.color-lightorange-darkblue {
    background-color: #fddfca;
    color: #35436a;
    border-color: #35436a;
}

.color-darkorange-white {
    background-color: #e76707;
    color: #fafafa;
    border-color: #fafafa;
}

.text-shadow-light {
    text-shadow: 1px 1px 0 #e1e1e1;
}

.text-shadow-dark {
    text-shadow: 1px 1px 0 #969696;
}

.effects-white-lightblue:hover,
.effects-white-lightblue:focus {
    background-color: #fafafa;
    color: #6e8cd8;
    border-color: #6e8cd8;
}

.effects-lightblue-white:hover,
.effects-lightblue-white:focus {
    background-color: #6e8cd8;
    color: #fafafa;
    border-color: #fafafa;
}

.effects-lightblue.active,
.effects-lightblue:focus {
    background-color: #f5f5f5;
    box-shadow: 0 0 1em rgba(110, 139, 217, 0.75);
}

.effects-lightgreen:hover,
.effects-lightgreen:focus {
    background-color: hsl(84, 60%, 71%);
}

.effects-lightgreen.active,
.effects-lightgreen.focus {
    background-color: hsl(84, 60%, 71%);
    box-shadow: 0 0 5px 5px #a7d760;
}

.effects-darkgreen-white:hover,
.effects-darkgreen-white:focus {
    background-color: #85be2e;
    color: #fafafa;
    border-color: #fafafa;
}

.effects-white-darkgreen:hover,
.effects-white-darkgreen:focus {
    background-color: #fafafa;
    color: #85be2e;
    border-color: #85be2e;
}

.effects-darkorange:hover,
.effects-darkorange:focus {
    background-color: hsl(25, 94%, 56%);
}

.effects-darkorange.active,
.effects-darkorange:focus {
    background-color: hsl(25, 94%, 56%);
    box-shadow: 0 0 5px 5px #e76707;
}

/* Customize JQuery-UI*/

/*Resizable */
/*Undo position: relative default*/
.ui-resizable {
    position: inherit;
}

.ui-resizable-handle {
    background: none;
}

/*Fix controls position to avoid scroll*/
.ui-resizable-handle.ui-resizable-e {
    right: 0;
}

.ui-resizable-handle.ui-resizable-s {
    bottom: 0;
}

.ui-resizable-handle.ui-resizable-ne {
    top: 0;
    right: 0;
}

.ui-resizable-handle.ui-resizable-se {
    right: 0;
    bottom: 0;
}