@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic);

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div, section, article, aside, p, fieldset,
label, input, select, textarea, button {
    margin: 0.25em;
    padding: 0.25em;
    line-height: 1.15em;
}

header, footer {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 4rem;
    text-align: center;
}

main {
    margin-top: 4rem;
}

header img {
    display: inline-block;
    height: 65%;
    margin: 0.25em auto;

}

header nav {
    display: inline-block;
    float: right;
    margin-right: 2em;

}

form, label, input, select, textarea {
    border-radius: 0.15em;
}

input:focus, select:focus, textarea:focus {
    background-color: rgba(250, 250, 250, 0.5);
}

button {
    cursor: pointer;
    border-radius: 0.35em;
    padding: 0.35em;
}

button:hover {
    background-color: #fafafa;
}

button span {
    margin: 0 0.25em;
}

/* Color Schemes */

.color-white-darkblue {
    background-color: #fafafa;
    color: #35436a;
}

.color-white-green {
    background-color: #fafafa;
    color: #85be2e;
}

.color-blue-white {
    background-color: #35436a;
    color: #fafafa;
}

.color-green-white {
    background-color: #a9d963;
    color: #fafafa;
}

.color-green-darkblue {
    background-color: #a9d963;
    color: #35436a;
}

.color-orange-darkblue {
    background-color: #fddfca;
    color: #35436a;
}

.color-orange-white {
    background-color: #e76707;
    color: #fafafa;
}

.text-shadow-light {
    text-shadow: 1px 1px 0 #e1e1e1;
}

.text-shadow-dark {
    text-shadow: 1px 1px 0 #969696;
}

.border-darkblue {
    border-color: #35436a;
}

.effects-green:hover {
    background-color: hsl(84, 60%, 71%);
}

.effects-green.active {
    background-color: hsl(84, 60%, 71%);
    box-shadow: 0 0 5px 5px #a9d963;
}

.effect-orange:hover {
    background-color: hsl(25, 94%, 56%);
}

.effect-orange.active {
    background-color: hsl(25, 94%, 56%);
    box-shadow: 0 0 5px 5px #e76707;
}

/* Customize JQuery-UI*/

/*Resizable */
/*Undo position: relative default*/
.ui-resizable {
    position: inherit;
}

/*Fix controls position to avoid scroll*/
.ui-resizable-handle.ui-resizable-e {
    right: 0;
}

.ui-resizable-handle.ui-resizable-s {
    bottom: 0;
}

.ui-resizable-handle.ui-resizable-ne {
    top: 0;
    right: 0;
}

.ui-resizable-handle.ui-resizable-se {
    right: 0;
    bottom: 0;
}