/* Default Element Input Styling */

.element {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

.element-input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}