
header {
    background-color: rgba(221, 228, 245, 0.25);
    background-image: linear-gradient(rgba(221, 228, 245, 1), #fafafa);
}

header nav {
    display: none;
}

.nav-button {
    margin-bottom: 0;
    background-color: #a9d963;
    font-size: 135%;
}

.nav-button:hover {
    background-color: hsl(84, 60%, 71%);
}

.nav-button.active {
    background-color: hsl(84, 60%, 71%);
    box-shadow: 0 0 5px 5px #a9d963;
}

.sign-up-button {
    background-color: #e76707;
    color: #fafafa;
}

.sign-up-button:hover {
    background-color: hsl(25, 94%, 56%);
}

.sign-up-button.active {
    background-color: hsl(25, 94%, 56%);
    box-shadow: 0 0 5px 5px #e76707;
}

#login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3em auto;
    border: solid 1px darkgray;
    border-radius: 0.25em;
    padding: 1em;
    background-color: #35436a;
    box-shadow: 2px 2px 1px #ddd;
    font-size: 200%;
    color: #fafafa;
    text-align: center;
}

#login-form * {
    margin: 0.25em;
    padding: 0.25em;
}

#login-form label {
    display: block;
    width: 100%;
}

#login-form input {
    width: 10em;
    border-radius: 0.25em;
}

#login-form input[type="submit"] {
    width: auto;
}

#hero {
    position: relative;
    height: 45em;
    text-align: center;
}

#hero-background::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(250, 250, 250) url("/assets/images/hero-background-3000x1500.png") no-repeat top center;
    background-size: contain;
    opacity: 0.25;
    z-index: -1;
}

#hero .intro {
    padding: 2em 1em 1em 1em;
    font-size: 400%;
    line-height: 1.25em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 0 #ddd;
    opacity: 1;
}

#hero .intro strong {
    font-weight: bold;
    text-decoration: underline;
}

#hero button {
    display: inline-block;
    width: 5em;
    margin: 0.5em 1em;
    font-size: 250%;
    color: #fafafa;
}

.nav-stop {
    min-height: 45rem;
    margin: 0;
}

.nav-stop:before {
    display: block;
    content: " ";
    height: 8em;
    margin-top: -4em;
    visibility: hidden;
}

.nav-stop .text {
    margin: 0;
    font-size: 350%;
}

.nav-stop img {
    max-width: 100%;
}

#mission .text {
    margin: 0 auto;
    text-align: center;
}

#mission img {
    display: block;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

#objects > * {
    display: inline-block;
    vertical-align: top;
}

#objects .text {
    width: 35%;
}

#objects .image-container {
    position: relative;
    width: 60%;
    margin-top: 1em;
}

#objects .image-container img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#associations {
    text-align: center;
}

#associations .content-container {
    display: inline-block;
    width: 100%;
}

#associations .content-container > * {
    display: inline-block;
    vertical-align: top;
}

#associations .text {
    width: 65%;
    text-align: center;
}

#associations .text p {
    margin: 0;
}

#associations .image-container.side {
    width: 15%;
    opacity: 0.5;
}

#associations .image-container.bottom {
    width: 65em;
    max-width: 100%;
    margin: -8% auto;
}

#associations img {
    display: none;
}

#views .text {
    text-align: center;
}

#views .image-container {
    position: relative;
    max-width: 100%;
}

#views .image-container img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#sign-up p.lead {
    text-align: center;
    font-size: 250%;
}

#sign-up p.end {
    margin: 0.5em auto 0;
    text-align: center;
    font-style: italic;
    font-size: 200%;
}

#sign-up form {
    width: 20em;
    max-width: 90%;
    margin: 0 auto;
    background-color: #fddfca;
    font-size: 150%;
    text-align: left;
}

#sign-up form > * {
    display: block;
    width: 100%;
}

#sign-up form label {
    font-size: 75%;
    margin-top: 0.5em;
}

#sign-up form input {
    border: 2px solid #35436a;
}

#sign-up form textarea {
    border: 2px solid #35436a;
    resize: vertical;
}

#sign-up form button {
    width: 5em;
    margin: 0.5em auto;
    font-size: 125%;
}

#sign-up .message {
    display: none;
    margin: 0.5em auto;
    color: #e76707;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
}

footer {
    height: 6rem;
    padding: 2rem;
    background-color: #35436a;
}

footer .logo {
    display: block;
    height: 2em;
    margin: 0 auto;
}