
header {
    background-color: rgba(221, 228, 245, 0.25);
    background-image: linear-gradient(rgba(221, 228, 245, 1), #fafafa);
}

header nav {
    display: none;
}

.nav-button {
    margin-bottom: 0;
    background-color: #a9d963;
    font-size: 135%;
}

.nav-button:hover {
    background-color: hsl(84, 60%, 71%);
}

.nav-button.active {
    background-color: hsl(84, 60%, 71%);
    box-shadow: 0 0 5px 5px #a9d963;
}

[href='#sign-up'] button {
    background-color: #e76707;
    color: #fafafa;
}

[href='#sign-up'] button:hover {
    background-color: hsl(25, 94%, 56%);
}

[href='#sign-up'] button.active {
    background-color: hsl(25, 94%, 56%);
    box-shadow: 0 0 5px 5px #e76707;
}

#login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 3em auto;
    border: solid 1px darkgray;
    border-radius: 0.25em;
    padding: 1em;
    background-color: #35436a;
    box-shadow: 2px 2px 1px #ddd;
    font-size: 200%;
    color: #fafafa;
    text-align: center;
}

#login-form * {
    margin: 0.25em;
    padding: 0.25em;
}

#login-form label {
    display: block;
    width: 100%;
}

#login-form input {
    width: 10em;
    border-radius: 0.25em;
}

#login-form input[type="submit"] {
    width: auto;
}

#hero {
    position: relative;
    height: 45em;
    text-align: center;
}

#hero-background::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(250, 250, 250) url("/assets/images/hero-background-3000x1500.png") no-repeat top center;
    background-size: contain;
    opacity: 0.25;
    z-index: -1;
}

#hero .intro {
    padding: 2em 1em 1em 1em;
    font-size: 400%;
    line-height: 1.25em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 0 #ddd;
    opacity: 1;
}

#hero .intro strong {
    font-weight: bold;
    text-decoration: underline;
}

#hero button {
    display: inline-block;
    width: 5em;
    margin: 0.5em 1em;
    font-size: 250%;
    color: #fafafa;
}

.nav-stop.bkgrd-white {
    background-color: #fafafa;
    color: #35436a;
    text-shadow: 1px 1px 0 #c8c8c8;
}

.nav-stop.bkgrd-blue {
    background-color: #35436a;
    color: #fafafa;
    text-shadow: 1px 1px 0 #969696;
}

.nav-stop.bkgrd-green {
    background-color: #a9d963;
    color: #35436a;
    text-shadow: 1px 1px 0 #969696;
}

.nav-stop.bkgrd-orange {
    background-color: #e76707;
    color: #fafafa;
    text-shadow: 1px 1px 0 #969696;
}

.learn-content {
    min-height: 45rem;
    margin: 0;
}

.learn-content:before {
    display: block;
    content: " ";
    height: 8em;
    margin-top: -4em;
    visibility: hidden;
}

.learn-content .text {
    margin: 0;
    font-size: 350%;
}

.learn-content img {
    max-width: 100%;
}

#mission .text {
    margin: 0 auto;
    text-align: center;
}

#mission img {
    display: block;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

#objects > * {
    display: inline-block;
    vertical-align: top;
}

#objects .text {
    width: 35%;
}

#objects .image-container {
    position: relative;
    width: 60%;
    margin-top: 1em;
}

#objects .image-container img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#associations {
    text-align: center;
}

#associations .content-container {
    display: inline-block;
    width: 100%;
}

#associations .content-container > * {
    display: inline-block;
    vertical-align: top;
}

#associations .text {
    width: 65%;
    text-align: center;
}

#associations .text p {
    margin: 0;
}

#associations .image-container.side {
    width: 15%;
    opacity: 0.5;
}

#associations .image-container.bottom {
    width: 55em;
    max-width: 100%;
    margin: -4% auto;
}

#associations img {
    display: none;
}
