
x-viewuse {
    display: inline-block;
    position: relative;
    min-width: 15em;
    margin: 2em;
    border: 1px solid #35446A;
    padding: 1em;
    resize: both;
    overflow: scroll;
}

x-viewuse input[name="title"] {
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    text-align: center;
    font-size: 150%;
}

x-viewuse button {
    position: absolute;
    height: 4em;
    width: 4em;
    border: 1px solid #587e1f;
    background-color: #ddf0bf;
    text-align: center;

}
x-viewuse button * {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}
x-viewuse button i {
    color: #cce8a2;
    font-size: 400%;
    line-height: 25%;
    letter-spacing: -4px;
}
x-viewuse button span {
    color: #587e1f;
}
x-viewuse button:hover {
    color: #ddf0bf;
    background-color: #587e1f;
}
x-viewuse button[name="new-object"] {
    top: 0;
    left: 0;
}
x-viewuse button[name="view-settings"] {
    top: 0;
    right: 0;
}
x-viewuse button[name="close-view"] {
    top: 4em;
    right: 0;
}
x-viewuse section.content {
    width: 85%;
    margin: 1em auto;
}





x-datum {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    border: none;
    border-radius: 2.5%;
    padding: 0.5em;
    box-shadow: 1px 1px 0.5px #a9a9a9;
    background-color: #d0d7e8;
}

/*Area*/
x-datum[datum_group_id="1"] {
    border-radius: 0;
}

/*Activity*/
x-datum[datum_group_id="2"] {
    border-radius: 50%;
}

/*Time*/
x-datum[datum_group_id="3"] {
    border-radius: 0 0 25% 25% / 0 0 40% 40%;
}

/*Item*/
x-datum[datum_group_id="4"] {
    border-radius: 25% 25% 0 0 / 40% 40% 0 0;
}

x-datum[template="datum_small"] {
    height: 2.5em;
    width: 4em;
}

x-datum[template="datum_small"] p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
}

x-datum[template="datum_small"] p.datum_type_name {
    font-size: 125%;
    font-weight: bold;
    color: rgba(250, 250, 250, 0.50);
}

x-datum[template="datum_small"] p.headline {
}
