{% extends "app/base_app.html" %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/base_app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/tester.css' %}">
{% endblock %}

{% block body_block %}
    <ul class="datum-list">
        {% for datum in datum_objects %}
            {# Datum Group for background color #}
            <li class="datum group-{{ datum.datum_group }}">
                <h3 class="datum-title">{{ datum }}</h3>

                <h4 class="datum-type">{{ datum.datum_type }}</h4>

                <h5 class="datum-object-id">{{ datum.pk }}</h5>

                {# Delete Button #}
                <form id="datum-{{ datum.pk }}-delete" name="datum-{{ datum.pk }}-delete"
                      class="form-datum-delete" method="post" action="datum/{{ datum.pk }}/delete/">
                    {% csrf_token %}
                    <input type="hidden" name="datum-pk" value="{{ datum.pk }}">
                    <input type="submit" value="X">
                </form>

                {# Update Form #}
                <form id="datum-{{ datum.pk }}-update" name="datum-{{ datum.pk }}-update"
                      class="form-datum-update" method="post" action="datum/{{ datum.pk }}/update/">
                    {% csrf_token %}

                    {# Elements in Datum #}
                    {% for element in datum.element_datum_objects.all %}
                        <label for="{{ element.pk }}">{{ element.element_type.readable_name }}</label>

                        {# Test for Element Options #}
                        {% if element.element_type.element_options.count > 0 %}
                            <select id="{{ element.pk }}" name="{{ element.pk }}">
                                {% for element_option in element.element_type.element_options.all %}
                                    <option value="{{ element_option.readable_name }}"
                                            {% if element.element_value|stringformat:"s" == element_option.readable_name|stringformat:"s" %}selected{% endif %}>
                                        {{ element_option.readable_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input id="{{ element.pk }}" name="{{ element.pk }}"
                                   type="{{ element.element_type.html_element }}" value="{{ element.element_value }}">

                        {% endif %}

                        <br>
                    {% endfor %}

                    <input type="submit" value="Update">
                </form>

            </li>
        {% endfor %}

        <li class="datum datum-create">

            {# Add Form #}
            <form id="datum-{{ datum.pk }}-create" name="datum-{{ datum.pk }}-create"
                  class="form-datum-create" method="post" action="datum/create/">
                {% csrf_token %}

                <label for="create-datum-type">Type</label>
                <select id="create-datum-type" name="create-datum-type" class="create-datum-type">
                    {% for datum_type in datum_types %}
                        <option value="{{ datum_type.pk }}"
                                {% if datum_type.pk == datum.datum_type.pk %} selected {% endif %} >
                            {{ datum_type.readable_name }}
                        </option>
                    {% endfor %}
                </select>

                <input type="submit" value="+">
            </form>

        </li>
    </ul>

{% endblock %}
