.base-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.base-container > .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.25em 2em;
    text-align: center;
    font-size: 150%;
}

.base-container.active > .title {
    box-shadow: none;
    font-weight: bold;
}

.base-container > .content {
    margin-top: 3em;
    height: 100%;
}

.base-container > .controls {
    display: none;
}

.base-container > .controls > button {
    border-style: solid;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 150%;
}

.base-container > .controls > button[name='show-menu'] {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 1px 1px 0;
}

.base-container > .controls > button[name='close-object'] {
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 0 1px 1px;
}

.base-container > .menu {
    display: none;
    width: 0;
}