.dialog {
    display: none;
}

.dialog-embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.dialog-popout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dialog-dock {
    position: fixed;
    top: 4rem;
    left: 0;
    height: calc(100vh - 4rem);
}
