.dialog {
    display: none;
}

.dialog-embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.dialog-popout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dialog-menu {
    position: fixed;
    top: 4rem;
    left: 0;
    height: 100%;
    box-shadow: 0 2px 1px #808080;
}

.dialog-menu button {
    display: block;
    font-size: 200%;
    text-align: left;
}

.dialog-menu button.hover {
    width: 8em;
}

.dialog-menu button * {
    display: inline;
}

.dialog-menu button span {
    display: none;
    position: absolute;
    width: 6em;
    text-align: center;
}

.dialog-options > .main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 100%;
    margin-left: 5em;
}

.dialog-options > .main > .section {
    flex: 1 1 auto;
    position: relative;
    margin: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.dialog-options .title {
    width: 100%;
    margin: 0 auto;
    font-size: 150%;
    text-align: center;
}

.dialog-options .content {
    width: 100%;
    margin: 0 auto;
    padding: 0.25em;
    font-size: 125%;
    text-align: center;
}

.dialog-options .input-wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dialog-options .input-element {
    border: 2px solid;
    background-color: rgba(250, 250, 250, 0.5);
}

.dialog-options .input-element:focus,
.dialog-options .input-element:hover {
    background-color: #fafafa;
    box-shadow: none;
}