
.base-edit {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.base-edit .title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: default;
}

.base-edit > .title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 150%;
}

.base-edit > .main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 100%;
    margin: 2.5em 0 0 5em;
    padding: 0;
}

.base-edit > .main > .section {
    flex: 1 1 auto;
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 3px solid;
    border-right: 2px solid;
}

.base-edit > .main > .section > .title {
    font-size: 125%;
    text-shadow: 1px 1px 0 #e1e1e1;
}

.base-edit .content {
    width: 100%;
    margin: 0 auto;
    padding: 0.25em;
    font-size: 125%;
    text-align: center;
}

.base-edit .input-wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.base-edit .input-element {
    border: 2px solid;
    /*background-color: rgba(250, 250, 250, 0.5);*/
}

/*.base-edit .input-element:focus,*/
/*.base-edit .input-element:hover {*/
    /*background-color: #fafafa;*/
    /*box-shadow: none;*/
/*}*/