
.base-edit {
    display: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.base-edit .title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: default;
}

.base-edit > .title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5rem;
    font-size: 150%;
}

.base-edit > .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2.5em 0 0 5em;
    padding: 0;
}

.base-edit > .content > .section {
    flex: 1 1 auto;
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 3px solid;
    border-right: 2px solid;
}

.base-edit > .content > .section > .title {
    font-size: 125%;
    text-shadow: 1px 1px 0 #e1e1e1;
}

.base-edit > .content > .section > .content {
    width: 100%;
    margin: 0 auto;
    padding: 0.25em;
    font-size: 125%;
    text-align: center;
}

.base-edit .input-wrap {
    display: block;
    margin: 0 0.25em;
    text-align: center;
}

.base-edit .input-wrap > * {
    display: block;
}

.base-edit .input-input {
    margin: 0.25em auto;
    border: 2px solid;
    text-align: center;
}

.base-edit .input-input:focus {
    background-color: rgba(225, 225, 225, 0.5);
}